.navbar {
  transition: all 0.3s ease-in-out;
  top: 0;
  width: 100%;
  z-index: 1030; /* Ensure it stays above other elements */
}

.navbar-brand {
  font-size: 1.5rem;
  color: #007bff;
  transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: #0056b3;
}

.nav-link {
  font-size: 1rem;
  color: #555;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.nav-link:hover {
  color: #007bff;
  transform: scale(1.1);
}

.active-link {
  color: #007bff;
  font-weight: bold;
  border-bottom: 2px solid #007bff;
}
.navbar-toggler {
  outline: none
}

.navbar-toggler-icon {
  border-radius: 2px;
  width: 30px;
  height: 30px;
  display: block;
  margin: 5px auto;
}
